<div data-ng-controller="SidenavController">
    <md-toolbar>
        <div layout="row" layout-align="center center" class="md-toolbar-tools">
            <h1 class="nowrap">
                <a ui-sref="home" tabindex="-1">
                    <span class="f-400">{{ cfg.brand_name }}</span>
                </a>
            </h1>
        </div>
    </md-toolbar>

    <md-list class="sidenav-content">
        <span ng-if="auth.isAdmin()">
            <md-list-item ui-sref="admin.appConfig">
                <div class="inset">
                    <i class="fa fa-gear btn-icon"></i>
                </div>
                <p>App Config</p>
            </md-list-item>

            <md-divider></md-divider>
        </span>

        <span ng-show="auth.isLogged()" >
            <md-list-item ui-sref="profile.view({username: auth.user.username})">
                <div class="inset">
                    <i class="fa fa-user btn-icon"></i>
                </div>
                <p>My Profile</p>
            </md-list-item>
        </span>


        <span ng-hide="auth.isLogged()" >
            <md-list-item ui-sref="signin">
                <div class="inset">
                    <i class="fa fa-sign-in btn-icon"></i>
                </div>
                <p>Sign In</p>
            </md-list-item>
        </span>

        <span ng-hide="auth.isLogged()" >
            <md-list-item ui-sref="signup">
                <div class="inset">
                    <i class="fa fa-sign-in btn-icon"></i>
                </div>
                <p>Sign Up</p>
            </md-list-item>
        </span>

        <span>
            <md-list-item ui-sref="users">
                <div class="inset">
                    <i class="fa fa-users btn-icon"></i>
                </div>
                <p>Users</p>
            </md-list-item>
        </span>

        <span ng-show="cfg.has_feedback_form">
            <md-list-item ui-sref="feedback">
                <div class="inset">
                    <i class="fa fa-comment btn-icon"></i>
                </div>
                <p>Feedback</p>
            </md-list-item>
        </span>



        <span ng-show="auth.isLogged()">
            <md-list-item ui-sref="signout">
                <div class="inset">
                    <i class="fa fa-sign-out btn-icon"></i>
                </div>
                <p>Sign Out</p>
            </md-list-item>
        </span>

        <span ng-show="cfg.development">
            <md-list-item ng-click="generateDatabase()">
                <div class="inset">
                    <i class="fa fa-database btn-icon"></i>
                </div>
                <p>Generate Database</p>
            </md-list-item>
        </span>

        <span hide-gt-md>
            <md-list-item ng-click="closeSidenav()">
                <div class="inset">
                    <i class="fa fa-close btn-icon"></i>
                </div>
                <p>Close</p>
            </md-list-item>
        </span>

    </md-list>

</div>
